<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="{% url 'home' %}" method="post">
      {% csrf_token %}
      <input type="text" name="input" /> <button type="submit">ok</button>
    </form>
    <br />
    {% for i in site %}
    <div>
      <h3>{{i.taxk}}</h3>
      <button style="background-color: red;">Delet</button>
    </div>
    {% endfor %}
  </body>
</html>
